
.box{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F4F6F8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header{
    position: fixed;
    width: 97%;
    z-index: 1000;
    
    
}

.logo-header{
    height: 100px;
    width: auto;
}

.redirection{
    margin-left: 50px; 
    text-decoration: none; 
    color: #1E3A56;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    
}

.redirection:hover{
    color: #346697;
}

.actifs{

}

